html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 50px;
  font-size: 12px;
  left: 10px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
}

input {

}